@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-body: #002a64;
    --color-heading: #002a64;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #ffffff;
    --color-brand2: #ffffff;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: #002a64;
    color: var(--color-body);
    
        font-family: 'Lato', sans-serif;
}

.carrusel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.logo-and-icons {
    flex-direction: column; /* Apila los elementos verticalmente en pantallas pequeñas */
    gap: 10px;
}
.carrusel-item {
    min-width: 100%;
    position: relative;
}

.carrusel-item img {
    width: 100%;
    border-radius: 15px;
    filter: brightness(0.9);
}

.info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    color: #fff;
    background-color: rgb(0 0 0 / 85%);
    padding: 47px;
    border-radius: 10px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

p {
    margin-top: 5px;
    font-size: 16px;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.github-link:hover {
    background-color: #555;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px; /* Posición a la izquierda */
}

.next {
    right: 10px; /* Posición a la derecha */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.margin-bottom{
    margin-bottom: 30px;
}
.rounded-circles{
    border-radius: 25%;
    
}
.card-custom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #002a64;
    background-color: #2b2b2b;
    border-radius: 10px;
}
.navbar-brand .h3 {
    white-space: nowrap;
}

.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-custom-content {
    color: #fff;
}


.card-custom:hover .card-custom-content {
    color: #ff6f61; 
}


.card-custom h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
}


.card-custom p, .card-custom ul {
    font-size: 1rem;
    line-height: 1.6;
    color: #002a64;
}

.card-custom ul {
    list-style-type: none;
    padding-left: 0;
}

.card-custom ul li {
    padding-left: 15px;
    position: relative;
}

.card-custom ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    
}


.shadow-effect {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}


@media (max-width: 767px) {
    .card-custom {
        margin-bottom: 15px;
    }
    .contenedor-botones {
        display: grid; 
        grid-auto-flow: column; /* Coloca los botones en una fila horizontal */
        gap: 10px; /* Espacio entre los botones */
    }
    .info p{
        font-size: 9px;
    }


    .btn {
        width: 100%; 
        margin-bottom: 10px; 
        padding: 5px 10px;
        flex: 1; /* Los botones ocuparán el mismo espacio */
    text-align: center;
    }

    .btn-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
    }
   

    .btn-container .btn {
        width: 100%; 
        margin-bottom: 10px;
    }

    .carrusel-item h2 {
        font-size: 14px; 
    }
    .carrusel-item p {
        font-size: 12px; 
        
    }
    
    .button-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    position: absolute;
    top: 100px; 
    right: 10px;
    z-index: 1000;
    margin-top:100px;
    margin-bottom: 60px;
   
    }

    .col-auto{
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    
    }

    .social-icons a {
        width: 50px;
        height: 50px;
        
    }

}


#home{
    padding-top: 150px; 
}
#inicio {
    padding-top: 170px; 
}

.col-lg-6 h1 {
    font-size: 2.5rem; 
    
}

.margin-bottom{
margin-bottom: 20px;
}
.text-brand{
    font-weight: 500;
}
.size{
    font-size: 33px;
}
.blue{
    color:white;
}
.blue:hover{
    color:#93afee;
}
.color-white{
    color: white;
}
.color-blue{
    color: #002a64;
}
h1,h2,h3,h4,h5,h6 {
    color: #93afee;
    font-weight: 700;
}

.timeline {
    position: relative;
    padding-left: 30px;
    margin-left: 30px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.timeline-marker {
    width: 12px;
    height: 12px;
    background-color: #93afee;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 0;
    border: 2px solid #fff;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.timeline-content {
    padding-left: 20px;
    border-left: 2px solid #93afee;
    width: 100%;
}

.timeline-year {
    font-size: 1rem;
    font-weight: bold;
    color: #93afee;
    margin-bottom: 5px;
}

.timeline-content h4 {
    font-size: 1.2rem;
    color: white;
}

.timeline-content p {
    font-size: 1rem;
    color: #6c757d;
}


a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}


.bg-base {
    background-color: #93afee;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}


.navbar {
    background-image: linear-gradient(90deg, #93afee, #6b8edc, #4a6db3);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: #002a64;
}

.navbar .nav-link.active {
    color: #002a64;
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(#002a64, rgba#93afee), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }
    

    .navbar-brand img {
        border: 8px solid #002a64;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 5px 18px;
    font-weight: 700;
    margin-bottom:15px;
    flex: 1; /* Los botones ocuparán el mismo espacio */
    text-align: center;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

#contact .form-control {
    
   
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */
/* Contenedor principal para centrar los íconos sociales */
.social-icons {
    
}
.auto{
    justify-content: center;
    align-items: center;
}
/* Íconos sociales individuales */
.social-icons {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 15px;               
}
.social-icons a {
    width: 65px;
    height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
    border-radius: 100px;
    font-size: 35px;
    color: white;           
    text-decoration: none;  
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.center{
    justify-content: center;
}
.social-icons a:hover {
    background-color: #93afee; 
    transform: scale(1.1);     
}

/* Botones de idioma */
.language-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;       
}  

/* Contenedor para los botones */
.language-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10px;              
}


/* Hover en los íconos sociales */

  .language-btn:hover {
    background-color: #0056b3;
  }
  .container {
    justify-content: center;
    align-items: center;
    align-items: center;
    
  }

  /* Botón circular con efecto de sombra y transición */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #3498db; /* Color de fondo */
    color: white;
    border-radius: 50%; /* Hace el botón circular */
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: all 0.3s ease; /* Suaviza la transición */
  }
  
  #scrollTopBtn:hover {
    background-color: #2980b9; /* Color al hacer hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Efecto de sombra al hacer hover */
    transform: translateY(-4px); /* Eleva el botón un poco */
  }
  
  #scrollTopBtn:active {
    transform: translateY(2px); /* Movimiento hacia abajo al presionar */
  }
  
  .en{
    color: #333;
  }

  .es{
    color: #00a1ff;
  }

  .check{
    position:relative;
    width: 50px;
  }

  .check:before{
    content: '';
    position:absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;

  }

  .check:after{
    content: '';
    position:absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid;
  }

  .check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;
  }

  .check:checked:before{
    background: #00a1ff;
  }

  .button-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    position: absolute;
    top: 20px; 
    right: 10px;
    z-index: 1000;
    
}

.button-container button {
    font-family: 'lato';
    padding: 6px 10px;  
    font-size: 14px;     
    max-width: 90px;     
    max-height: 40px;    
    background-color: #93afee;
    color: 002a64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: 20px;
    color:#002a64;
}

button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
}

button:focus {
    outline: none; /* Elimina el contorno en el foco */
}